@import "../../colors.scss";

div#home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient($top-background, $background);

    div.lines {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -3vw;
        width: 110vw;

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        svg.line {
            animation: 7s power-on;
        }

        svg.glow {
            animation: 7s glow-power-on;
        }
    }

    div.content {
        position: relative;
        text-align: center;
        z-index: 1;

        h1 {
            font-size: 14vw;
        }

        h2 {
            color: $orange;
            width: 100%;
            letter-spacing: 0.8em;
            font-size: 2.8vw;
        }

        div.mobile {
            line-height: 0.9;
            display: none;
        }

        a {
            position: absolute;
            left: 50%;
            bottom: -8em;
            transform: translateX(-50%);
            background-color: transparent;
            border: 2px solid $orange;
            border-radius: 8px;
            font-size: 23px;
            color: $white;
            padding: 0.25em 0.75em;
            transition: 0.3s;
            cursor: pointer;
            width: 175px;
    
            &:hover {
                box-shadow: 0px 0px 15px 1px $orange;
            }
        }
    }

    @keyframes power-on {
        from {
            opacity: 0.6;
        }

        48% {
            opacity: 0.6;
        }

        50% {
            opacity: 1;
        }

        52% {
            opacity: 0.6;
        }

        68% {
            opacity: 0.6;
        }

        70% {
            opacity: 1;
        }

        72% {
            opacity: 0.6;
        }

        80% {
            opacity: 0.6;
        }

        82% {
            opacity: 1;
        }

        84% {
            opacity: 0.6;
        }

        86% {
            opacity: 1;
        }

        88% {
            opacity: 0.6;
        }

        98% {
            opacity: 0.6;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes glow-power-on {
        from {
            opacity: 0;
        }

        48% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        52% {
            opacity: 0;
        }

        68% {
            opacity: 0;
        }

        70% {
            opacity: 1;
        }

        72% {
            opacity: 0;
        }

        80% {
            opacity: 0;
        }

        82% {
            opacity: 1;
        }

        84% {
            opacity: 0;
        }

        86% {
            opacity: 1;
        }

        88% {
            opacity: 0;
        }

        98% {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1000px) {
    div#home {
        div.content {
            position: relative;

            div.mobile {
                display: block;
            }

            h1.main-title {
                display: none;
            }

            h2 {
                width: 60vw;
                position: absolute;
                bottom: -2.5em;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}