@import "../../colors.scss";

header {
    background-color: transparent;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
    width: 100%;

    nav {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            width: max-content;
            gap: 32px;

            li {
                a {
                    display: inline-block;
                    color: $white;
                    text-decoration: none;
                    font-size: 22px;
                    height: 100%;
                }
            }
        }

        ul.socials {
            gap: 24px;

            li {
                a {
                    svg {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }
}