@import "../../colors.scss";

header {
    background-color: $top-background;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
    width: 100%;

    nav {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            width: max-content;
            gap: 32px;

            li {
                display: flex;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                    color: $white;
                    text-decoration: none;
                    font-size: 22px;
                }
            }
        }

        ul.socials {
            gap: 24px;

            li {
                a {
                    svg {
                        width: 36px;
                        height: 36px;
                    }
                }
            }

            a.resume {
                display: inline-block;
                padding: 0.4em 1em;
                background-color: $orange;
                border-radius: 12px;
                transition: 0.3s;
                border: 2px solid $top-background;
                color: $black;
                font-size: 18px;

                &:hover {
                    background-color: $top-background;
                    border-color: $orange;
                    color: $white;
                    box-shadow: 0px 0px 15px 1px $orange;
                }
            }
        }
    }
}