@import "../../colors.scss";

div.projects {
    div.grid {
        margin-top: 40px;
        padding: 0 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px 40px;
    }
}