$blue: #5F90F0;
$light-blue: #65D8FD;
$card-background: #061C43;
$card-border: #162345;
$black: #252525;
$white: #FAFAFA;
$top-background: #041431;
$background: #0A265C;
$orange: #FEBB78;
$light-orange: #ffd1a2;