@import "./colors.scss";

@font-face {
    font-family: Tungsten-Bold;
    src: url("/fonts/Tungsten-Bold.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $black;
    font-family: Montserrat;
}

h1 {
    font-family: Tungsten-Bold;
    font-size: 200px;
    color: $white;
}

button {
    font-family: inherit;
}

a {
    color: $black;
    text-decoration: none;
}

span.square {
    background-color: transparent;
    border: 1px solid $white;
    transition: 0.2s;
}

span.left-chevron {
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    margin-right: -6px;
}

span.right-chevron {
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    margin-left: -6px;
}